service: dc-lambda-layers
frameworkVersion: ">=1.34.0"
provider:
  name: aws
  runtime: nodejs8.10
  stage: development
  region: us-west-2
  deploymentBucket:
    name: serverless.${self:provider.region}.amimoto-ami.deploys
    serverSideEncryption: AES256

custom:
  prune:
    automatic: true
    number: 3

plugins:
  - serverless-prune-plugin

layers:
  stripe:
    description: stripe sdk
    path: stripe
    compatibleRuntimes:
      - nodejs8.10
  intercom:
    description: intercom sdk
    path: intercom
    compatibleRuntimes:
      - nodejs8.10